<div class="container">
  <h3>Editing Program</h3>
  <%= render 'form' %>
  <%= link_to 'Show', @program, class: 'btn btn-info' %> 
  <%= link_to 'Back', programs_path, class: 'btn btn-default' %>
</div>